* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 80%    
} 
.body {
    background-color: #FAFAFA;
    font-family:'Inter', sans-serif;
	margin: auto;
    margin-left: 10px;
	width: 100%;
	padding: 20px 20px;
	overflow: scroll;
	overflow-x: hidden;    
}
/* Navigation bar starts */
/* .nav-section {
	background-color: #fafafa; 
	width: 100%;
    color: #fafafa; 
} */
.navbar-border {
	background-color: black;
    color: #fafafa;
	width: 2000px;
	border-bottom: 1px solid grey;
}
.nav-bar {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	padding-right: 200px;
	align-items: center;
	width: 100%;
	margin: auto;
	width: 80%;
}
.tab > h1 {
	margin-left: 130px;
    font-family: inherit
}
.navbar-items > ul {
	display: flex;
	align-items: center;
	justify-content: space-around;
} 
.navbar-items> ul > li {
	list-style: none;
	display: inline;
	padding-left: 20px;   
}
.navbar-items > ul > li a {
	list-style: none;
	color: #FAFAFA;
	display: inline;
	text-decoration: none;
	margin-right: 0x;
	padding-left: 40px;
	justify-content: space-around;
	/* display: block; */
}
.navbar-items > ul > li > a:hover {
	color: #ED661F;
	font-weight: 600;
}
.login{
	padding-left: 100px;
	margin-right:10px;
	text-decoration: none;
	list-style: none;
}
.login:hover {
	color: #ED661F;
}
.btn {
	padding: 10px;
	/* padding-left: 30px; */
	border-radius: 4px;
	/* border: none; */
	background-color: #ED661F;
	color: white;
	font-size: 16px;
	/* font-weight: 600; */
	cursor: pointer; 
	margin-right: 400px; 
}
.btn:hover {
	box-shadow: blue;
	padding: 10px;
	text-align: center;
}
.btn > #get_started-button {
	color: white;
	background-color: #ED661F;
}
.btn> #get_started-button:hover {
	box-shadow: 2px 2px 5px blue;
}
/* Navigation bar ends */
.hero {
	width: 80%;
	padding-left: 300px;
}
/* hero end */
/* why section */
